{% extends 'base.html.twig' %}
{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/portada.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
<title>{% block title %}Trivial Pursuit{% endblock %} </title>
{% endblock %}
{% block body %}
    <h3> Portada Trivial </h3>
        {% if jugadors is defined %}
        <p>Aquest portal et permet jugar contestant una sèrie de preguntes i obtenint una puntuació</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            {#<h3> Jugadors Inscrits </h3>
            <table id="tblJugadors">
                <tr>
                    <th>Nom</th>
                    <th>Puntuacio</th>
                    <th>Posició</th>
                </tr>
                {% for jugador in jugadors %}
                    <tr>
                        <td>{{ jugador.nom }}</td>
                        <td>{{ jugador.puntuacio }}</td>
                        <td>{{ jugador.posicio }}</td>
                    </tr>
                {% endfor %}
            </table>#}

        {% else %}
            <p>No hi han jugadors registrats</p>
            <a href="./registre">Registre</a>
        {% endif %}

        {% if preguntes is defined %}
            {#<h3> Preguntes Disponibles </h3>
            <table id="tblPreguntes">
                <tr>
                    <th>Enunciat</th>
                    <th>Resposta1</th>
                    <th>Resposta2</th>
                    <th>Resposta3</th>
                    <th>Resposta4</th>
                </tr>
                {% for pregunta in preguntes %}
                    <tr>
                        <td>{{ pregunta.enunciat }}</td>
                        <td>{{ pregunta.resposta1 }}</td>
                        <td>{{ pregunta.resposta2 }}</td>
                        <td>{{ pregunta.resposta3 }}</td>
                        <td>{{ pregunta.resposta4 }}</td>
                    </tr>
                {% endfor %}
            </table>#}
        {% else %}
            <p>No hi han preguntes registrades</p>
            <a href="./crearPregunta">Registre</a>
        {% endif %}
{% endblock %}