{# app/Resources/views/Form/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Preguntes creades </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>enunciat</th>
        <th>resposta1</th>
        <th>resposta2</th>
        <th>resposta3</th>
        <th>resposta4</th>
    </tr>
    {% for pregunta in preguntes %}
        <tr>
            <td>{{ pregunta.id }}</td>
            <td>{{ pregunta.enunciat }}</td>
            <td>{{ pregunta.resposta1 }}</td>
            <td>{{ pregunta.resposta2 }}</td>
            <td>{{ pregunta.resposta3 }}</td>
            <td>{{ pregunta.resposta4 }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}