{# app/Resources/views/Form/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Jugadors Inscrits </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>posicio</th>
        <th>puntuacio</th>
    </tr>
    {% for jugador in jugadors %}
        <tr>
            <td>{{ jugador.id }}</td>
            <td>{{ jugador.nom }}</td>
            <td>{{ jugador.posicio }}</td>
            <td>{{ jugador.puntuacio }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}