{% extends 'base.html.twig' %}
{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/partida.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
<title>{% block title %}Trivial Pursuit{% endblock %} </title>
{% endblock %}
{% block body %}
    <h2> Fi de la partida de Trivial </h2>
    {% if respostes is defined %}
        eo
        {{ respostes }}
        {% for resposta in respostes %}
            <h3>{{ resposta }}</h3>
        {% endfor %}
    {% else %}
        Respostes No Definit <br>
    {% endif %}

    {% if resposta0 is defined %}
        Resposta definida de la primera pregunta: 
        {{resposta0}}<br>
        Resposta definida de la segona pregunta: 
        {{resposta1}}<br>
        Resposta definida de la tercera pregunta: 
        {{resposta2}}<br>
        <br>
    {% endif %}

    {% if resposta0 == 'correct' and resposta1 == 'correct' and resposta2 == 'correct' %}
        Has obtingut la màxima puntuació
    {% endif %}

    <a href="/"> Tornar a Jugar! </a>
{% endblock %}