{% extends 'base.html.twig' %}
{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/partida.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
<title>{% block title %}Trivial Pursuit{% endblock %} </title>
{% endblock %}
{% block body %}
    <h2> Partida Trivial </h2>
        {% if preguntes is defined %}
            <form id="formPartida" name="formPartida" action="/fiPartida" method="post">
                <h3> Contesta les preguntes </h3>
                <div class="container">
                {% set i = 0 %}
                {% for pregunta in preguntes %}
                    <h4>{{ pregunta.enunciat }}</h4>
                    <ul>
                        {#
                        <li><input type="radio" name="respostaPregunta{{ i }}" value="correct">{{ pregunta.resposta1 }}</li>
                        <li><input type="radio" name="respostaPregunta{{ i }}" value="wrong">{{ pregunta.resposta2 }}</li>
                        <li><input type="radio" name="respostaPregunta{{ i }}" value="wrong">{{ pregunta.resposta3 }}</li>
                        <li><input type="radio" name="respostaPregunta{{ i }}" value="wrong">{{ pregunta.resposta4 }}</li>
                        #}

                        <li>
                            <input type="radio" id="f-option{{i}}" name="respostaPregunta{{ i }}" value="correct">
                            <label for="f-option{{i}}">{{ pregunta.resposta1 }}</label>
                        <div class="check"></div>
                        </li>

                        <li>
                            <input type="radio" id="s-option{{i}}" name="respostaPregunta{{ i }}" value="wrong">
                            <label for="s-option{{i}}">{{ pregunta.resposta2 }}</label>
                        <div class="check"><div class="inside"></div></div>
                        </li>

                        <li>
                            <input type="radio" id="t-option{{i}}" name="respostaPregunta{{ i }}" value="wrong">
                            <label for="t-option{{i}}">{{ pregunta.resposta3 }}</label>
                        <div class="check"><div class="inside"></div></div>
                        </li>
                        
                        <li>
                            <input type="radio" id="n-option{{i}}" name="respostaPregunta{{ i }}" value="wrong">
                            <label for="n-option{{i}}">{{ pregunta.resposta4 }}</label>
                        <div class="check"><div class="inside"></div></div>
                        </li>
  
                    </ul>
                    {% set i = i + 1 %}
                {% endfor %}
                </div>
                <input type="hidden" id="nombrePreguntes" name="nombrePreguntes" value="{{ i }}">
                <input type="submit" id="_submit" name="_submit" value="{{ 'Enviar respostes'|trans }}" />
            </form>
        {% else %}
            <p>No hi han preguntes registrades</p>
            <a href="./crearPregunta">Registre</a>
        {% endif %}
{% endblock %}