#tblJugadors {
	border: 1px solid black;
}

#tblJugadors th {
	border: 1px solid black;
}

#tblJugadors tr {
	border: 1px solid black;
}

#tblJugadors td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}